<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>newtable.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BC038FEF1C63E4A8008D2860</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BC0390031C63E4A9008D2860</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BC03900E1C63E4A9008D2860</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
